<h1><%= @dog.name %></h1>
<p><%= @dog.breed %></p>
<p><%= @dog.age %></p>

<h2>Employees</h2>
<% @dog.employees.each do |employee|%>
    <p><%= link_to "#{employee.first_name} #{employee.last_name}", employee %></p>
<% end %>